<!doctype html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>网站标题</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" href="/css/amazeui.min.css">
	<link rel="stylesheet" href="/css/common.css">
	<link rel="stylesheet" href="/css/article_article.css">
</head>

<body>
<!--[if lte IE 9]>
<p class="browsehappy" style="background:red;line-height: 35px;color: #fff;font-size: 14px;text-align: center;">你正在使用过时的浏览器，影响您的浏览体验。  <a
  href="http://chrome.360.cn/" target="_blank" style="color: #fff;font-weight: bold;text-decoration: underline;">请点击下载新的浏览器</a>
  以获得更好的体验！</p>
<![endif]-->



<!-- 模板内容开始 -->

<!-- 头部内容开始 -->
<header>
    <div class="logo"><img src="/images/logo.png" alt="山水广纪"></div>
    <div class="player" data-am-scrollspy="{animation:'fade',delay:300,repeat:false}"><img src="/images/player.png" alt=""></div>
    <div class="download am-show-md-up"><a href="javascript: ;" onclick="alert('即将上线敬请期待');"><i class="am-icon-apple"></i>IOS下载</a><a href="http://www.xhgames.com/game_res/apk/ssgj.apk" download="山水广纪_1.0"><i class="am-icon-android"></i>Android</a></div>
</header>
<!-- 头部内容结束 -->

<!-- 主体内容开始 -->
<div id="main" class="am-g am-g-collapse">
    <div class="main-left am-u-sm-12 am-u-md-3">
        <div class="main-nav am-cf">
           <ul>
               <li><a href="/">官网首页</a></li>
               <li><a href="/article" class="curr">新闻公告</a></li>
               <li><a href="javascript: ;" onclick="aler();">游戏论坛</a></li>
               <li><a href="javascript: ;" onclick="aler();">玩法资料</a></li>
           </ul>
           <div class="main-navd am-show-md-up">
           <a href="##">注册</a><a href="##">登录</a></div>
       </div>
       <div class="main-download am-show-md-up">
           <div>
               <h3>游戏下载</h3>
               <div class="down-qrcode"><img src="/images/qrcode.jpg" alt=""></div>
               <a href="javascript: ;" onclick="alert('即将上线敬请期待');"><i class="am-icon-apple"></i>IOS下载</a>
               <a href="http://www.xhgames.com/game_res/apk/ssgj.apk" download="山水广纪_1.0"><i class="am-icon-android"></i>Android</a>
               <div class="left-info">
                   <p><span>公司电话:</span>0574-89082021</p>
                   <p><span>公司地址:</span>浙江省宁波市江北区世茂日湖中心</p>
                   <p>宁波轩好网络科技有限公司</p>
               </div>
           </div>
       </div>
    </div>
    <div class="main-right am-u-sm-12 am-u-md-9">
       <div class="main-breadcrumb am-g">
           <h2 class="am-u-sm-12 am-u-md-5">新闻中心 /<span>NEWS</span></h2>
           <ul class="am-u-sm-12 am-u-md-7">
               <li>您的位置：</li>
               <li><a href="###">官网首页</a></li>
               <li><a href="###">新闻公告</a></li>
           </ul>
       </div>
       <div class="main-news">
            <div class="main-title">
               <h1>2月9日欢乐英雄服务器不停服更新公告（已完成）</h1>
               <span>2018-3-23</span>
           </div>
           <div class="main-article">
             <p>亲爱的玩家：</p>
             <p><br></p>
             <p>　　边城浪子区"欢乐英雄"服务器将在22:00至24:00停机维护更新，维护完成后客户端版本号不变，由于本次更新为灰度更新（只更新精英服，精英服只限已激活的玩家可登录），因此版本会和正式服有区别，一旦升级后将无法登录正式服，所以建议玩家在升级前复制备份客户端。给您带来的不便敬请谅解。本次更新内容如下：</p>
             <p><br></p>
             <p>1. 修复部分海盗船移动异常的问题。</p>
             <p>1. 修复部分海盗船移动异常的问题。</p>
             <p>1. 修复部分海盗船移动异常的问题。</p>
             <p>1. 修复部分海盗船移动异常的问题。</p>
             <p>1. 修复部分海盗船移动异常的问题。</p>
             <p>1. 修复部分海盗船移动异常的问题。</p>
             <p>1. 修复部分海盗船移动异常的问题。</p>
             <p>1. 修复部分海盗船移动异常的问题。</p>
             <p>1. 修复部分海盗船移动异常的问题。</p>
             <p>1. 修复部分海盗船移动异常的问题。</p>
             <p>1. 修复部分海盗船移动异常的问题。</p>
             <p>1. 修复部分海盗船移动异常的问题。</p>
             <p>1. 修复部分海盗船移动异常的问题。</p>
             <p>1. 修复部分海盗船移动异常的问题。</p>
             <p>1. 修复部分海盗船移动异常的问题。</p>
             <p>1. 修复部分海盗船移动异常的问题。</p>
             <p>1. 修复部分海盗船移动异常的问题。</p>
             <p>1. 修复部分海盗船移动异常的问题。</p>
             <p>1. 修复部分海盗船移动异常的问题。</p>
             <p>1. 修复部分海盗船移动异常的问题。</p>
             <p>1. 修复部分海盗船移动异常的问题。</p>
             <p>1. 修复部分海盗船移动异常的问题。</p>
             <p>1. 修复部分海盗船移动异常的问题。</p>
           </div>
           <a href="javascript:history.go(-1);">&raquo;返回列表</a>
       </div>
    </div>
</div>
<!-- 主体内容结束 -->

<!-- 尾部内容开始 -->
<footer>
    <div class="am-g am-g-fixed">
        <div class="am-u-sm-12 am-u-md-2"><img src="/images/comp_logo.png" alt="轩好游戏"></div>
        <div class="am-u-sm-12 am-u-md-10">
            <ul>
                <li><a href="/parcare">家长监护</a></li>
                <li><a href="/contactus">联系我们</a></li>
            </ul>
            <p>轩好网络科技有限公司 版权所有@2018-2021浙网文[2017]1340-024号 公安机关备案33020502000128号 ICP证15024267号</p>
        </div>
        <div class="am-u-sm-12 footer-tip">健康游戏公告：抵制不良游戏 拒绝盗版游戏 注意自我保护 谨防受骗上当 适度游戏益脑 沉迷游戏伤身 合理安排时间 享受健康生活本游戏适合18周岁以上的成年人用户，未满18周岁未成年用户请在家长的监督下进行游戏</div>
    </div>
</footer>
<!-- 尾部内容结束 -->

<!-- 模板内容结束 -->



<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="/js/polyfill/rem.min.js"></script>
<script src="/js/polyfill/respond.min.js"></script>
<script src="/js/amazeui.legacy.js"></script>
<![endif]-->


    <!--[if (gte IE 9)|!(IE)]><!-->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/amazeui.min.js"></script>
    <script type="text/javascript">
         /*模板js内容*/
    function aler(){
      alert("栏目即将开放，尽情期待！");
    }
    </script>

    <!--<![endif]-->

</body>

</html>
