<!doctype html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>网站标题</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" href="/css/amazeui.min.css">
	<link rel="stylesheet" href="/css/common.css">
	<link rel="stylesheet" href="/css/index_contactus.css">
    <!-- 百度地图API -->
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=BFfb1XU5DRKOilS9AsiUcfuq"></script>
</head>

<body>
<!--[if lte IE 9]>
<p class="browsehappy" style="background:red;line-height: 35px;color: #fff;font-size: 14px;text-align: center;">你正在使用过时的浏览器，影响您的浏览体验。  <a
  href="http://chrome.360.cn/" target="_blank" style="color: #fff;font-weight: bold;text-decoration: underline;">请点击下载新的浏览器</a>
  以获得更好的体验！</p>
<![endif]-->



<!-- 模板内容开始 -->

<!-- 头部内容开始 -->
<header>
    <div class="logo"><img src="/images/logo.png" alt="山水广纪"></div>
    <div class="player" data-am-scrollspy="{animation:'fade',delay:300,repeat:false}"><img src="/images/player.png" alt=""></div>
    <div class="download am-show-md-up"><a href="javascript: ;" onclick="alert('即将上线敬请期待');"><i class="am-icon-apple"></i>IOS下载</a><a href="http://www.xhgames.com/game_res/apk/ssgj.apk" download="山水广纪_1.0"><i class="am-icon-android"></i>Android</a></div>
</header>
<!-- 头部内容结束 -->

<!-- 主体内容开始 -->
<div id="main" class="am-g am-g-collapse">
    <div class="main-left am-u-sm-12 am-u-md-3">
        <div class="main-nav am-cf">
           <ul>
               <li><a href="/">官网首页</a></li>
               <li><a href="/list_article">新闻公告</a></li>
               <li><a href="javascript: ;" onclick="aler();">游戏论坛</a></li>
               <li><a href="javascript: ;" onclick="aler();">玩法资料</a></li>
           </ul>
           <div class="main-navd am-show-md-up">
           <a href="##">注册</a><a href="##">登录</a></div>
       </div>
       <div class="main-download am-show-md-up">
           <div>
               <h3>游戏下载</h3>
               <div class="down-qrcode"><img src="/images/qrcode.jpg" alt=""></div>
               <a href="javascript: ;" onclick="alert('即将上线敬请期待');"><i class="am-icon-apple"></i>IOS下载</a>
               <a href="http://www.xhgames.com/game_res/apk/ssgj.apk" download="山水广纪_1.0"><i class="am-icon-android"></i>Android</a>
               <div class="left-info">
                   <p><span>公司电话:</span>0574-89082021</p>
                   <p><span>公司地址:</span>浙江省宁波市江北区世茂日湖中心</p>
                   <p>宁波轩好网络科技有限公司</p>
               </div>
           </div>
       </div>
    </div>
    <div class="main-right am-u-sm-12 am-u-md-9">
       <div class="main-contact">
            <h1>联系我们</h1>
            <div id="allmap"></div>
            <p>地址：浙江省宁波市江北区世茂日湖中心</p>
            <p>联系电话：0584-89082021</p>
            <p>邮箱：Emailsimple@web.com</p>
       </div>
    </div>
</div>
<!-- 主体内容结束 -->

<!-- 尾部内容开始 -->
<footer>
    <div class="am-g am-g-fixed">
        <div class="am-u-sm-12 am-u-md-2"><img src="/images/comp_logo.png" alt="轩好游戏"></div>
        <div class="am-u-sm-12 am-u-md-10">
            <ul>
                <li><a href="/parcare">家长监护</a></li>
                <li><a href="/contactus">联系我们</a></li>
            </ul>
            <p>轩好网络科技有限公司 版权所有@2018-2021浙网文[2017]1340-024号 公安机关备案33020502000128号 ICP证15024267号</p>
        </div>
        <div class="am-u-sm-12 footer-tip">健康游戏公告：抵制不良游戏 拒绝盗版游戏 注意自我保护 谨防受骗上当 适度游戏益脑 沉迷游戏伤身 合理安排时间 享受健康生活本游戏适合18周岁以上的成年人用户，未满18周岁未成年用户请在家长的监督下进行游戏</div>
    </div>
</footer>
<!-- 尾部内容结束 -->

<!-- 模板内容结束 -->



<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="/js/polyfill/rem.min.js"></script>
<script src="/js/polyfill/respond.min.js"></script>
<script src="/js/amazeui.legacy.js"></script>
<![endif]-->


    <!--[if (gte IE 9)|!(IE)]><!-->
    <script src="js/jquery.min.js"></script>
    <script src="js/amazeui.min.js"></script>
    <script type="text/javascript">
        // 百度地图API
        var map = new BMap.Map("allmap");
        var point = new BMap.Point(121.567801,29.904974);
        var marker = new BMap.Marker(point);  // 创建标注
        map.addOverlay(marker);              // 将标注添加到地图中
        map.centerAndZoom(point, 15);
        var opts = {
          width : 200,     // 信息窗口宽度
          height: 75,     // 信息窗口高度
          title : "轩好游戏" , // 信息窗口标题
          enableMessage:true,//设置允许信息窗发送短息
          message:"浙江省宁波市江北区世茂日湖中心"
        }
        var infoWindow = new BMap.InfoWindow("浙江省宁波市江北区世茂日湖中心", opts);  // 创建信息窗口对象
        map.openInfoWindow(infoWindow,point); //开启信息窗口 
        marker.addEventListener("click", function(){          
            map.openInfoWindow(infoWindow,point); //开启信息窗口
        });
        function aler(){
          alert("栏目即将开放，尽情期待！");
        }
    </script>

    <!--<![endif]-->

</body>

</html>
